Source: janitza-firmware
Section: net
Priority: optional
Maintainer: Carsten Schoenert <c.schoenert@t-online.de>
Build-Depends: debhelper (>= 9.0.0)
Standards-Version: 3.9.6
Homepage: http://www.janitza.de/firmware.html

Package: janitza-firmware
Architecture: all
Depends: ${misc:Depends},
  gridvis-desktop
Description: Firmware Update files for Janitza measurement devices
 This package contain firmware update files for the various measurement devices
 from Janitza which you can upload and program with the GridVis GUI. It
 doesn't matter which kind of device you have to program (Modbus, Ethernet,
 serial), if it is reachable within the GridVis the GUI will know what to do.
 .
 The firmware files provided by this package supports the following devices
 and contains depended on the device updates for the device itself and if
 the device is using a internal webserver you can update the website of the
 device as well. Please be carefull if you using a modified website, the
 GridVis GUI will override your changes if you enable the update for the
 website!
 .
                  internal
   device    firmware   website
   ---------|---------|---------
   Prodata2 |    x    |
   UMG103   |    x    |
   -----------------------------
   UMG104   |    x    |
   UMG20    |    x    |
   -----------------------------
   UMG508   |    x    |    x
   -----------------------------
   UMG509   |    x    |
   UMG510   |    x    |
   -----------------------------
   UMG511   |    x    |    x
   UMG512   |    x    |
   -----------------------------
   UMG604   |    x    |    x
   UMG605   |    x    |    x
   -----------------------------
   UMG96RM  |    x    |    x
